In [1]:
import pandas as pd
import numpy as np
print(pd.__version__)

0.20.3

多级索引
====
多级索引（也称层次化索引）是pandas的重要功能，可以在Series、DataFrame对象上拥有2个以及2个以上的索引。 
实质上，单级索引对应Index对象,多级索引对应MultiIndex对象。
## Series对象的多级索引
* 多级索引Series对象的创建

In [5]:
se1=pd.Series(np.random.randn(4),index=[list("aabb"),[1,2,1,2]])
print(se1)

#子集的选取
print(se1['a'])

print(se1['a':'b'])

a  1    0.553272
   2   -0.916616
b  1   -0.737528
   2    0.317848
dtype: float64
1    0.553272
2   -0.916616
dtype: float64
a  1    0.553272
   2   -0.916616
b  1   -0.737528
   2    0.317848
dtype: float64

## DataFrame对象的多级索引

In [8]:
df1=pd.DataFrame(np.arange(12).reshape(4,3),index=[list("AABB"),[1,2,1,2]],columns=[list("XXY"),[10,11,10]])
print(df1)

df1.columns.names=['XY','sum']
df1.index.names=['AB','num']
print(df1)


#可以创建MultiIndex对象再作为索引
df1.index=pd.MultiIndex.from_arrays([list("AABB"),[3,4,3,4]],names=["AB","num"])
df1

     X       Y
    10  11  10
A 1  0   1   2
  2  3   4   5
B 1  6   7   8
  2  9  10  11
XY      X       Y
sum    10  11  10
AB num
A  1    0   1   2
   2    3   4   5
B  1    6   7   8
   2    9  10  11

XY      X       Y
sum    10  11  10
AB num
A  3    0   1   2
   4    3   4   5
B  3    6   7   8
   4    9  10  11

DataFrame对象的列和索引之间的转化
=======
我们常常需要将DataFrame对象中的某列或某几列作为索引，或者将索引转化为对象的列。pandas提供了set_index()/reset_index() 来供我们使用。

In [11]:
##列转化为索引
df1=pd.DataFrame({'X':range(5),'Y':range(5),'S':list("aaabb"),'Z':[1,1,2,2,2]})
print(df1)
print(df1.set_index('S'))

df1.set_index(['S','Z'])

   S  X  Y  Z
0  a  0  0  1
1  a  1  1  1
2  a  2  2  2
3  b  3  3  2
4  b  4  4  2
   X  Y  Z
S
a  0  0  1
a  1  1  1
a  2  2  2
b  3  3  2
b  4  4  2

     X  Y
S Z
a 1  0  0
  1  1  1
  2  2  2
b 2  3  3
  2  4  4