In [1]:
import numpy as np 
import pandas as pd
print(pd.__version__)

0.20.3

ReIndex重新索引
=====
reindex()是pandas对象的一个重要方法，其作用是创建一个新索引的新对象。

In [4]:
##对Series对象重新索引
se1=pd.Series([1,7,3,9],index=['d','c','a','f'])
print(se1)
#调用reindex将会重新排序，缺失值则用NaN填补。
se2=se1.reindex(['a','b','c','d','e','f'])
print(se2)

#传入method=” “重新索引时选择插值处理方式：
#method=’ffill’或’pad 前向填充
#method=’bfill’或’backfill 后向填充
se3=pd.Series(['blue','red','black'],index=[0,2,4])
se4=se3.reindex(range(6),method='ffill')
print(se4)

d    1
c    7
a    3
f    9
dtype: int64
a    3.0
b    NaN
c    7.0
d    1.0
e    NaN
f    9.0
dtype: float64
0     blue
1     blue
2      red
3      red
4    black
5    black
dtype: object

In [7]:

##对DataFrame对象重新索引
df1=pd.DataFrame(np.arange(9).reshape(3,3),index=['a','c','d'],columns=['one','two','four'])
print(df1)
df1.reindex(index=['a','b','c','d'],columns=['one','two','three','four'])
print(df1)
#传入fill_value=n用n代替缺失值：
df1.reindex(index=['a','b','c','d'],columns=['one','two','three','four'],fill_value=100)
print(df1)

   one  two  four
a    0    1     2
c    3    4     5
d    6    7     8
   one  two  four
a    0    1     2
c    3    4     5
d    6    7     8
   one  two  four
a    0    1     2
c    3    4     5
d    6    7     8

Drop丢弃指定轴上的项
====

丢弃某轴上项，只要有一个索引表或者列表即可。
丢弃Series上的项：

In [12]:
se1=pd.Series(range(10,15))
se1.drop([2,3])
print(se1)


df1=pd.DataFrame(np.arange(9).reshape(3,3),columns=['x','y','z'])
print(df1)

#对于DataFrame对象，默认删除行索引：
print(df1.drop([1,0]))

#指定axis=1删除列索引
print(df1.drop(['x','z'],axis=1))

0    10
1    11
2    12
3    13
4    14
dtype: int64
   x  y  z
0  0  1  2
1  3  4  5
2  6  7  8
   x  y  z
2  6  7  8
   y
0  1
1  4
2  7

滤除缺失数据
=====
pandas的设计目标之一就是使得处理缺失数据的任务更加轻松些。pandas使用NaN作为缺失数据的标记。

使用dropna使得滤除缺失数据更加得心应手。

## 处理Series对象
* 通过**dropna()**滤除缺失数据：

In [14]:
se1=pd.Series([4,np.NaN,8,np.NaN,5])
print(se1)
se1.dropna()

#通过布尔序列也能滤除：
se1[se1.notnull()]

0    4.0
1    NaN
2    8.0
3    NaN
4    5.0
dtype: float64

0    4.0
2    8.0
4    5.0
dtype: float64

## 处理DataFrame对象
处理DataFrame对象比较复杂，因为你可能需要丢弃所有的NaN或部分NaN.

In [20]:
df1=pd.DataFrame([[1,2,3],[np.NaN,np.NaN,2],[np.NaN,np.NaN,np.NaN],[8,8,np.NaN]])
print(df1)

#默认滤除所有包含NaN：
print(df1.dropna())

#传入**how=‘all’**滤除全为NaN的行：
print(df1.dropna(how='all'))

#传入axis=1滤除列：
df1[3]=np.NaN
print(df1)

     0    1    2
0  1.0  2.0  3.0
1  NaN  NaN  2.0
2  NaN  NaN  NaN
3  8.0  8.0  NaN
     0    1    2
0  1.0  2.0  3.0
     0    1    2
0  1.0  2.0  3.0
1  NaN  NaN  2.0
3  8.0  8.0  NaN
     0    1    2   3
0  1.0  2.0  3.0 NaN
1  NaN  NaN  2.0 NaN
2  NaN  NaN  NaN NaN
3  8.0  8.0  NaN NaN

填充缺失数据
=====
fillna()是最主要的处理方式了

In [22]:
#用常数填充：
print(df1.fillna(100))
#通过字典填充不同的常数：
df1.fillna({0:10,1:20,2:30})

       0      1      2      3
0    1.0    2.0    3.0  100.0
1  100.0  100.0    2.0  100.0
2  100.0  100.0  100.0  100.0
3    8.0    8.0  100.0  100.0

      0     1     2   3
0   1.0   2.0   3.0 NaN
1  10.0  20.0   2.0 NaN
2  10.0  20.0  30.0 NaN
3   8.0   8.0  30.0 NaN

排序和排名
======

根据条件对Series对象或DataFrame对象的值排序（sorting）和排名(ranking)是一种重要的内置运算。 
接下来为大家介绍如何使用pandas对象的：sort_index() / sort_values() / rank() 方法。

## 对Series排序
* 对Series对象排序是最常用的，可以根据Series对象的索引、值排序。
根据索引排序

In [28]:
se1=pd.Series(np.arange(10,13),index=[1,3,2])
print(se1.sort_index())

se2=pd.Series(np.arange(0,3),index=['c','d','a'])
print(se2.sort_index())
#按index降序排序
print(se2.sort_index(ascending=False))
#按值排序
print(se2.sort_values(ascending=False))

1    10
2    12
3    11
dtype: int64
a    2
c    0
d    1
dtype: int64
d    1
c    0
a    2
dtype: int64
a    2
d    1
c    0
dtype: int64

## 对DataFrame排序
通过axis参数可以对任意轴排序

In [31]:
df1=pd.DataFrame(np.arange(9).reshape(3,3),index=list("bac"),columns=list("yzx"))
print(df1)
print(df1.sort_index())

#根据一个列的值来排序
df2=pd.DataFrame({'a':[20,3,3],'b':[1,-6,18]})
print(df2.sort_values(by='b'))

#对多个列来排序
df2.sort_values(by=['a','b'])

   y  z  x
b  0  1  2
a  3  4  5
c  6  7  8
   y  z  x
a  3  4  5
b  0  1  2
c  6  7  8
    a   b
1   3  -6
0  20   1
2   3  18

    a   b
1   3  -6
2   3  18
0  20   1