In [1]:
import pandas as pd
import numpy as np
print(pd.__version__)

0.20.3

GroupBy技术进行分组
=====
GroupBy分组
对数据进行分组并对每个分组进行运算是数据分析中很重要的环节。该博客讲解了利用pandas的Groupby技术如何进行分组。下图简单介绍了分组的过程：

In [9]:
df1=pd.DataFrame({'Data1':np.random.randint(0,10,5),'Data2':np.random.randint(10,20,5),'key1':list('aabba'),'key2':list('xyyxy')})
print(df1)

gr1=df1['Data1'].groupby(df1['key1'])
print(gr1)
print(gr1.size())

#根据单列来对单列分组
print(df1['Data1'].groupby(df1['key1']).count())

#根据单列来对多列分组
print(df1[['Data1','Data2']].groupby(df1['key1']).mean())

#根据多列对单列分组
print(df1['Data1'].groupby([df1['key1'],df1['key2']]).count())

#根据多列对多列分组
print(df1.groupby([df1['key1'],df1['key2']]).sum())

#列表
df1['Data1'].groupby([1,2,3,2,1]).count()

   Data1  Data2 key1 key2
0      1     16    a    x
1      2     12    a    y
2      5     17    b    y
3      8     10    b    x
4      4     11    a    y
<pandas.core.groupby.SeriesGroupBy object at 0x7f67a693eda0>
key1
a    3
b    2
Name: Data1, dtype: int64
key1
a    3
b    2
Name: Data1, dtype: int64
         Data1  Data2
key1
a     2.333333   13.0
b     6.500000   13.5
key1  key2
a     x       1
      y       2
b     x       1
      y       1
Name: Data1, dtype: int64
           Data1  Data2
key1 key2
a    x         1     16
     y         6     23
b    x         8     10
     y         5     17

In [12]:
a,b= df1.groupby('key1')
print(a)
print('a的类型：',type(a))

print('\n',a[0])
print('a[0]的类型：',type(a[0]))

print('\n',a[1])
print('a[1]的类型：',type(a[1]))

for name,group in df1.groupby('key1'):
    print('*'*13+name+'*'*13+'\n',group)
    print()

('a',    Data1  Data2 key1 key2
0      1     16    a    x
1      2     12    a    y
4      4     11    a    y)
a的类型： <class 'tuple'>

 a
a[0]的类型： <class 'str'>

    Data1  Data2 key1 key2
0      1     16    a    x
1      2     12    a    y
4      4     11    a    y
a[1]的类型： <class 'pandas.core.frame.DataFrame'>
*************a*************
    Data1  Data2 key1 key2
0      1     16    a    x
1      2     12    a    y
4      4     11    a    y

*************b*************
    Data1  Data2 key1 key2
2      5     17    b    y
3      8     10    b    x

   Data1  Data2 key1 key2
2      5     17    b    y
3      8     10    b    x
   Data1  Data2 key1 key2
1      2     12    a    y
4      4     11    a    y

In [ ]:
#将分组结果变成字典
dict1=dict(list(df1.groupby('key1')))
print(dict1['b'])
dict2=dict(list(df1.groupby(['key1','key2'])))
print(dict2[('a','y')])

Merge-数据库风格的合并
======
数据的合并（merge）和连接（join）是我们在数据分析和挖掘中不可或缺的，是通过一个或一个以上的键连接的。pandas的合并（merge）的的绝大功能和数据库操作类似的。具有如下参数：

pd.merge(left, right, how=’inner’, on=None, left_on=None, right_on=None, left_index=False,right_index=False, sort=False, suffixes=(‘_x’, ‘_y’), copy=True, indicator=False, validate=None)

In [13]:
df1=pd.DataFrame({'名字':list('ABCDE'),'性别':['男','女','男','男','女'],'职称':['副教授','讲师','助教','教授','助教']},index=range(1001,1006))
df1.columns.name='学院老师'
df1.index.name='编号'
print(df1)

学院老师 名字 性别   职称
编号
1001  A  男  副教授
1002  B  女   讲师
1003  C  男   助教
1004  D  男   教授
1005  E  女   助教

In [14]:
df2=pd.DataFrame({'名字':list('ABDAX'),'课程':['C++','计算机导论','汇编','数据结构','马克思原理'],'职称':['副教授','讲师','教授','副教授','讲师']},index=[1001,1002,1004,1001,3001])
df2.columns.name='课程'
df2.index.name='编号'
print(df2)

课程   名字   职称     课程
编号
1001  A  副教授    C++
1002  B   讲师  计算机导论
1004  D   教授     汇编
1001  A  副教授   数据结构
3001  X   讲师  马克思原理

In [17]:
#默认连接方式
pd.merge(df1,df2)

#指定列名合并
pd.merge(df1,df2,on='名字')


pd.merge(df1,df2,how='left')

  名字 性别   职称     课程
0  A  男  副教授    C++
1  A  男  副教授   数据结构
2  B  女   讲师  计算机导论
3  C  男   助教    NaN
4  D  男   教授     汇编
5  E  女   助教    NaN

Join合并
===

对象的实例方法-Join
DataFrame对象有个df.join()方法也能进行pd.merge()的合并，它能更加方便地按照对象df的索引进行合并，且能同时合并多个DataFrame对象。它具有如下参数：

df.join(other, on=None, how=’left’, lsuffix=”, rsuffix=”, sort=False)

In [20]:
df3=pd.DataFrame({'Red':[1,3,5],'Green':[5,0,3]},index=list('abd'))
print(df3)
df4=pd.DataFrame({'Blue':[1,9],'Yellow':[6,6]},index=list('ce'))
print(df4)

print(df3.join(df4)) # 简单合并（默认是left左连接）

print(df3.join(df4,how='outer'))#和merge合并方式一样


#合并多个DataFrame对象
df5=pd.DataFrame({'Brown':[3,4,5],'White':[1,1,2]},index=list('aed'))
df3.join([df4,df5])

   Green  Red
a      5    1
b      0    3
d      3    5
   Blue  Yellow
c     1       6
e     9       6
   Green  Red  Blue  Yellow
a      5    1   NaN     NaN
b      0    3   NaN     NaN
d      3    5   NaN     NaN
   Green  Red  Blue  Yellow
a    5.0  1.0   NaN     NaN
b    0.0  3.0   NaN     NaN
c    NaN  NaN   1.0     6.0
d    3.0  5.0   NaN     NaN
e    NaN  NaN   9.0     6.0

   Green  Red  Blue  Yellow  Brown  White
a      5    1   NaN     NaN    3.0    1.0
b      0    3   NaN     NaN    NaN    NaN
d      3    5   NaN     NaN    5.0    2.0

轴向连接-Concat
=====
在数据处理中，通常将原始数据分开几个部分进行处理而得到相似结构的Series或DataFrame对象，我们该如何进行纵向合并它们？这时我们可以选择用pd.concat()方式极易连接两个或两个以上的Series或DataFrame对象。如下是该函数的参数解读：

pd.concat(objs, axis=0, join=’outer’, join_axes=None, ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, copy=True)

In [21]:
s1=pd.Series([1,2],index=list('ab'))
s2=pd.Series([3,4,5],index=list('bde'))

#Series对象的连接
print(pd.concat([s1,s2]))

#纵向连接
print(pd.concat([s1,s2],axis=1))

#用内连接求交集
print(pd.concat([s1,s2],axis=1,join='inner'))

a    1
b    2
b    3
d    4
e    5
dtype: int64
     0    1
a  1.0  NaN
b  2.0  3.0
d  NaN  4.0
e  NaN  5.0

In [22]:
df3=pd.DataFrame({'Red':[1,3,5],'Green':[5,0,3]},index=list('abd'))
print(df3)
df4=pd.DataFrame({'Blue':[1,9],'Yellow':[6,6]},index=list('ce'))
print(df4)

#用字典的方式连接同样可以创建层次化列索引
print(pd.concat({'A':df3,'B':df4},axis=1))

   Green  Red
a      5    1
b      0    3
d      3    5
   Blue  Yellow
c     1       6
e     9       6
      A         B
  Green  Red Blue Yellow
a   5.0  1.0  NaN    NaN
b   0.0  3.0  NaN    NaN
c   NaN  NaN  1.0    6.0
d   3.0  5.0  NaN    NaN
e   NaN  NaN  9.0    6.0